@model Book
@{
    ViewData["Title"] = "Подробнее о книге";
    string status;


    if (@Model.IsDone) status = "Завершён";
    else status = "В процессе";

    string booktext = "";
    string file = "Data/Texts/" + @Model.Name + ".txt";
    if(File.Exists(file)) booktext= string.Join(" ",File.ReadLines(file).Take(3));

}

<div style="width:auto; display:flex; align-items:center; gap:10px; flex-wrap:wrap; padding:18px; border-radius:20px; background:white; box-shadow:0 4px 15px rgba(0,0,0,0.12);">

        <div style="width: 40rem; margin-inline: 2rem; display:flex; flex-direction:row">
            <div style="width: 18rem; margin-inline: 2rem">
                <h3 class="align-self-xxl-start" style="width: auto; border-radius:20px;">@Model.Name</h3>
                <div style="display:flex; flex-direction:row">
                <p class="search-input" style="width:80px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Автор:</p><p style="margin: 20px;">@Model.Author</p>
                </div>

                <div style="display:flex; flex-direction:row">
                <p class="search-input" style="width:80px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Жанр:</p><p style="margin: 20px;">@Model.Genre</p>
                </div>

                <p class="search-input" style="font-size:large">Кратко сюжет:</p>
                <input style="width:300px; height:200px; border-radius:10px" value="@Model.Description">
            </div>
        <img style="width:400px; height:400px; margin-inline: 2rem; border-radius:10px" src="@Model.PathImage">
        </div>

        <div style="display:flex; flex-direction:column;">
        <p class="search-input" style="width:160px; font-size:large">Ваша рецензия:</p>
            <input style="width:900px; height:100px; border-radius:10px" value="@booktext" readonly />

            <div style="display:flex; flex-direction:row">
                <p class="search-input" style="margin: 20px; width:130px;">@status</p>
                <a class="btn btn-primary" style="margin: 20px; width:200px;" asp-controller="Book" asp-action="ChangeStatus" asp-route-id="@Model.Id">Сменить статус</a>
                <form>
                <input class="search-input" style="margin: 20px;" type="number" name="rating" placeholder="@Model.Rating" />
                    <button class="btn btn-outline-success"
                            type="submit"
                        style="margin: 20px;"
                            asp-controller="Book"
                            asp-action="SetRating"
                            asp-route-Id="@Model.Id">
                        Сохранить
                    </button>
                </form>

                <a class="btn btn-primary"
                   style="margin: 20px; width:300px;"
                   asp-controller="Book"
                   asp-action="Redact"
                   asp-route-id="@Model.Id">Редактировать</a>
            </div>
        
           
        </div>
    </div> 


@* <div class="card" style="width: 18rem;">
    <img src="@Model.PathImage" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@name</h5>
        <p class="card-text">@Model.Description</p>
        <p class="card-subtitle">@Model.Author.</p>
        <p class="card-subtitle">@Model.Id</p>
        <a href="/Home/Catalog" class="btn btn-primary">В каталог</a>
    </div>
    @* @foreach(List<string> list in Model.Matherials)
    {
        @foreach (string mat in list)
        {
            <p>@mat.ToString()</p>
        }
    } 
</div> *@
